@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
body {
    margin: 0vw;
    margin: 0vh;
    margin: 0%;
    margin: 0;
    /*background: linear-gradient(to right, yellow, orange);*/
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#Bubble {
    width: 100vw;
    height: 100vh;
    background: url('../03-DevHome_DM-4K.png');
    background-size: cover;
}

#Dock2 {
    color-scheme: #473383;
    top: 1%;
    left: 16px;
    padding: 0%;
    color: #473383;
    display: flex;
    border-radius: 100px;
    height: 32px;
    width: 66px;
    background-color: #473383;
    position: absolute;
}

#Dock {
    color-scheme: #34265d;
    top: 1%;
    left: 16px;
    padding: 0%;
    color: #34265d;
    display: flex;
    border-radius: 100px;
    height: 32px;
    width: 32px;
    background-color: #34265d;
    position: absolute;
}
#zitt {
    display: none;
    min-width: 1269px;
    width: 1269px;
    max-width: 1279px;
    min-height: 779px;
    height: 779px;
    max-height: 779px;
    position: absolute;
    
}
#spotify-docklet {
    left: 16px;
    margin: 0%;
    padding: 0%;
    vertical-align: bottom;
    border-radius: 10px;
    bottom: 100px;
    position: absolute;
    color: auto;
    background-color: white;
    width: 300px;
    max-width: auto;
    min-width: auto;
    height: 96px;
    max-height: auto;
    min-height: auto;
}

#spotify-menu {
    filter:blur(6px);
    -o-filter:blur(6px);
    -ms-filter:blur(6px);
    -moz-filter:blur(6px);
    -webkit-filter:blur(6px);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    position: absolute;
    top: 44px;
    left: 32px;
    display: none;
    width: 128px;
    height: 48px;
    color: white;
    background-color: white;
}
#spotify-icon {
    align-self: center;
    justify-content: center;
    position: absolute;
    left: 32px;
}
#sptbtn {
    margin: none;
    border: none;
    color: transparent;
    background: transparent;
    border-radius: 100%;
    align-self: center;
    justify-content: center;
    position: absolute;
    left: 32px;
    width: 30px;
    height: 30px;
}
#dExit {
    left: 100px;
    align-self: right;
    align-items: right;
    border: none;
    margin: none;
    background-color: transparent;
    background: transparent;
}
#sImg {
    left: 100px;
}
/*font-family: 'Syne', sans-serif;*/
/*font-family: 'Syne', sans-serif;*/
