#Dock {
    display: flex;
    border-radius: 20%;
    height: 48px;
    width: 48px;
    background-color: white;
}
body {
    background-image: "baixados.jfif", 1920px, 1080px;
    min-width: 1920px;
    width: 1920px;
    max-width: 1920px;
    min-height: 1080;
    height: 1080;
    max-height: 1080;
}
